* {
  padding: 0;
  margin: 0;
  font-family: 'Lucida', 'Verdana', 'Tahoma', 'Arial';
}

a {
  color: #0635C9;
}

.btn {
  background-color: #0635C9;
  border: none;
  /* MINT color: #1AE5BE; */
}
.btn:hover {
  background-color: #042aa5;
}
